<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finish</title>
</head>

<body>
    <div>
        <h3>質問は終了しました。</h3>
        <p>回答結果を保存する場合は保存ボタンを押下してください。</p>
        <p>質問をやり直す場合は、戻る・最初に戻るボタンを押下してください。</p>
        <form action="#" th:action="@{/save}" th:object="${saveForm}" method="post">
            <p>
                <button type="submit">保存</button>
                <input type="hidden" id="hd_id" th:value="${nextPropertyId}" th:name="nextPropertyId" />
            </p>
        </form>
        <p>
            <!-- 戻るボタンを追加 -->
            <button onclick="goBack()">戻る</button>
        </p>
        <form action="#" th:action="@{/}" method="get">
            <p>
                <button type="submit">最初に戻る</button>
            </p>
        </form>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>