<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquiry Phase</title>
</head>
<body>
    <div>
        <h2>現在の探究フェーズ</h2>
        <p>生徒はどの探究フェーズであると判断していますか？</p>
        
        <!-- フェーズの選択フォーム -->
        <form action="#" th:action="@{/next}" th:object="${selectedPhaseForm}" method="post">
            <label th:each="phase, iterStat : ${phases}" th:for="${'phase' + iterStat.index}">
                <input type="radio" th:id="${'phase' + iterStat.index}" th:name="selectedPhaseForm" th:value="${phase}" />
                <span th:text="${phase}"></span>
            </label><br/>
            <p>
                <input type="submit" value="次へ" />
            </p>
        </form>
    </div>
</body>
</html>
