<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phase</title>
</head>

<body>
    <div>
        <th:block th:if="${nextContext != null}">
            <p th:text="${nextContext}"></p>
        </th:block>
        <th:block th:if="${explorationProperty.propertyAnswer != null}">
            <h2>質問</h2>
        </th:block>
        <p th:text="${explorationProperty.propertyQuestion}"></p>

        <form action="#" th:action="@{/answer}" th:object="${answerForm}" method="post">
            <label>
                <input type="radio" name="answer" th:value="true" required>
                はい
            </label>
            <th:block th:if="${explorationProperty.propertyAnswer != null}">
                <label>
                    <input type="radio" name="answer" th:value="false" required>
                    いいえ
                </label>
            </th:block>
            <p>
                <button type="submit">回答する</button>
                <input type="hidden" id="propertyAnswer" th:name="propertyAnswer"
                    th:value="${explorationProperty.propertyAnswer}" />
                <input type="hidden" id="nextPropertyId" th:name="nextPropertyId"
                    th:value="${explorationProperty.nextPropertyId}" />
                <input type="hidden" id="nextContext" th:name="nextContext"
                    th:value="${explorationProperty.nextContext}" />
            </p>
        </form>
        <p>
            <!-- 戻るボタンを追加 -->
            <button onclick="goBack()">戻る</button>
        </p>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>