<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phase</title>
</head>

<body>
    <div>
        <th:block th:if="${question.questionContext != null}">
            <p th:text="${question.questionContext}"></p>
        </th:block>
        <h2 th:text="'状態' + ${question.title}"></h2>
        <h2>質問</h2>
        <p th:text="${question.question}"></p>

        <form action="#" th:action="@{/answer}" th:object="${answerForm}" method="post">
            <label>
                <input type="radio" name="answer" th:value="true" required>
                はい
            </label>
            <label>
                <input type="radio" name="answer" th:value="false" required>
                いいえ
            </label>
            <p>
                <button type="submit">回答する</button>
                <input type="hidden" id="answerContext" th:name="answerContext" th:value="${question.answer}" />
                <input type="hidden" id="id" th:name="id" th:value="${question.nextId}" />
                <input type="hidden" id="phaseType" th:name="phaseType" th:value="${question.phaseType}" />
            </p>
        </form>
        <p>
            <!-- 戻るボタンを追加 -->
            <button onclick="goBack()">戻る</button>
        </p>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>