<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <div>
        <h2 th:text="${title}"></h2>
        <h3 th:text="${question}"></h3>
        
        <!-- フェーズの選択フォーム -->
        <form action="#" th:action="@{/phase}" th:object="${phaseForm}" method="post">
            <label th:each="subExplorePhase, iterStat : ${subExplorePhases}" th:for="${'question' + iterStat.index}">
                <input type="radio" th:id="${'question' + iterStat.index}" th:name="phaseForm" th:value="${subExplorePhase.subPhaseId}" required />
                <input type="hidden" th:id="${'hd_next_property_id_' + iterStat.count}" th:name="nextPropertyId" th:value="${subExplorePhase.nextPropertyId}" />
                <span th:text="${subExplorePhase.subPhaseName}"></span>
            </label><br/>
            <p>
                <input type="submit" value="次へ" />
            </p>
        </form>
        <p>
            <!-- 戻るボタンを追加 -->
            <button onclick="goBack()">戻る</button>
        </p>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
